body {
  text-align: center;
  background-color: #91b38e;
  font-family: sans-serif;
  width: 890px;
}

h4 {
  font-family: monospace, sans-serif;
  color: #253728;
}

.sixtyfour-blog-title {
  font-family: 'Sixtyfour', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'BLED' 0, 'SCAN' 0;
}

.description-block {
  background: silver;
  background-color: #d3ecdc;
  font-family: monospace, sans-serif;
  font-size: 16px;
  color: #111111;
  padding: 20px;
  margin: 35px;
  border-radius: 10px;
}

#home-image {
  width: 400px;
  height: auto;
  border-radius: 25px;
  margin: 25px;
}

.sixtyfour-special-topic {
  font-family: 'Sixtyfour', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'BLED' 0, 'SCAN' 0;
}

.list-links {
  text-align: left;
  font-family: monospace, sans-serif;
  margin-top: 10%;
  margin-left: 10px;
  list-style-type: circle;
}

@media (min-width: 1024px) {
  body {
    text-align: center;
    background-color: #91b38e;
    font-family: sans-serif;
    width: 920px;
  }
  .description-block {
    background: silver;
    background-color: #d3ecdc;
    font-family: monospace, sans-serif;
    font-size: 18px;
    color: #111111;
    padding: 20px;
    margin: 35px;
    border-radius: 10px;
  }

  #home-image {
    width: 450px;
    height: auto;
    border-radius: 25px;
    margin: 25px;
  }
}

@media (max-width: 768px) {
  body {
    text-align: center;
    background-color: #91b38e;
    font-family: sans-serif;
    width: 720px;
  }
  .description-block {
    background: silver;
    background-color: #d3ecdc;
    font-family: monospace, sans-serif;
    font-size: 14px;
    color: #111111;
    padding: 20px;
    margin: 35px;
    border-radius: 10px;
  }

  #home-image {
    width: 380px;
    height: auto;
    border-radius: 25px;
    margin: 25px;
  }
}

@media (max-width: 400px) {
  body {
    text-align: center;
    background-color: #91b38e;
    font-family: sans-serif;
    width: 370px;
  }
  .description-block {
    background: silver;
    background-color: #d3ecdc;
    font-family: monospace, sans-serif;
    font-size: 12px;
    color: #111111;
    padding: 20px;
    margin: 35px;
    border-radius: 10px;
  }

  #home-image {
    width: 340px;
    height: auto;
    border-radius: 25px;
    margin: 25px;
  }
}
