body {
  text-align: center;
  background-color: #91b38e;
  font-family: sans-serif;
}

h4 {
  font-family: monospace, sans-serif;
  color: #253728;
}

.sixtyfour-blog-title {
  font-family: 'Sixtyfour', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'BLED' 0, 'SCAN' 0;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
}

.description-block {
  background: silver;
  background-color: #d3ecdc;
  font-family: monospace, sans-serif;
  color: #111111;
  padding: 20px;
  margin: 35px;
  border-radius: 10px;
}

#home-image {
  width: 40%;
  height: auto;
  border-radius: 25px;
  margin: 25px;
}

.sixtyfour-special-topic {
  font-family: 'Sixtyfour', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'BLED' 0, 'SCAN' 0;
}
