body {
  text-align: center;
  background-color: #91b38e;
}

.sixtyfour-blog-title {
  font-family: 'Sixtyfour', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'BLED' 0, 'SCAN' 0;
}

.description-block {
  background: silver;
  background-color: #d3ecdc;
  font-family: monospace, sans-serif;
  color: #111111;
  padding: 20px;
  margin: 35px;
  border-radius: 10px;
}
